body {
    background-color: white;
}
img {
    height: 140px;
    width: 130px;
}

.navbar {
    background-color: wheat;
    padding: 5px 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.navigation {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 15px;
}

p {
    padding: 0px ;
}